{% extends "index.html" %}
{% block content %}
    <div class="container mt-4 main">
        <div class="text-center">
            <h4>Spirits</h4>
        </div>
    <div class="container">
        {% for chunk in chunked_spirits %}
            <div class="card-deck card-deck-spirit">
                {% for spirit in chunk %}
                    <div class="card">
                        <img class="card-img-top"
                             src="{{ url_for("static", filename="img/spirits/{}.png".format(spirit.id)) }}"
                             alt="Card image cap">
                        <div class="card-body">
                            <h6 class="card-title">{{ spirit.name }}</h6>
                            <p class="card-text text-muted">Expansion: {{ spirit.expansion.name }}</p>
                            <p class="card-text">Complexity: {{ spirit.get_complexity() }}</p>
                        </div>
                        <div class="card-footer">
                            <p class="card-text"><small class="text-muted">Wins: {{ spirit.get_game_wins() }}
                                Losses: {{ spirit.get_game_losses() }}</small></p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
        </div>

{% endblock %}