{% extends "index.html" %}
{% block content %}
    <div class="container mt-4 main">
        <div class="container">
            {% for chunk in chunked_spirits %}
                <div class="card-deck card-deck-spirit">
                    {% for spirit in chunk %}
                        <a class="card text-light text-center" href="{{ url_for("spirit", spirit_id=spirit.id) }}" style="background-color: {{ spirit.color }}">
                                <img class="card-img-top"
                                     src="{{ url_for("static", filename="img/spirits/{}.png".format(spirit.id)) }}"
                                     alt="{{ spirit.name }}">
                                <div class="card-body p-3">
                                    <h6 class="card-title mb-0  ">{{ spirit.name }}</h6>
                                    <p class="card-text"><small>{{ spirit.expansion.name }}</small></p>
                                </div>
                                <div class="card-footer pt-1 pb-2">
                                    <p class="card-text">
                                        <small>
                                            <b>Wins:</b> {{ spirit.get_game_wins() }}
                                            <b class="ml-2">Losses:</b> {{ spirit.get_game_losses() }}
                                        </small>
                                        <span class="badge badge-spirit-complexity badge-light">{{ spirit.get_complexity() }}</span>
                                    </p>
                                </div>
                        </a>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}